<!doctype html>
<title>Hello from Flask</title>

<form action="/trader/add" method="post">
    <p>
        <label for="first_name">First name: </label> 
        <input type="text" name="first_name" id="first_name">
    </p>
    <p>
        <label for="last_name">Last name: </label> 
        <input type="text" name="last_name" id="last_name">
    </p>
    <p>
        <label for="email">Email: </label> 
        <input type="text" name="email" id="email">
    </p>
    <p>
        <label for="address">Address: </label> 
        <input type="text" name="address" id="address">
    </p>
    <input type="submit">
</form>